<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726087796591-eb9cvsk8lrj1mas46bdufjmfhef1vhbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726087796591-eb9cvsk8lrj1mas46bdufjmfhef1vhbt</string>
	<key>API_KEY</key>
	<string>AIzaSyBIy08BdM8x8jB8R2Wo9PXxluLSyJG9QmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>726087796591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ayrisgurbulak.FoodApp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-258a9</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-258a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726087796591:ios:5940001713604ea46b0a9a</string>
</dict>
</plist>